{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "svelteSortOrder": "scripts-markup-options-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": false,
  "bracketSameLine": true
}
